:root{

    --left-background:linear-gradient(to bottom right,#1B4332, #95D5B2);

    --profile-image-boxshadow: #B7E4C7;
    --profile-image-border-color: #081C15;
    --profile-font-color: white;
    --profile-font-size-text: 16px;
    --profile-font-size-title: 24px;

    --icons-boxshadow-color: #081C15; /*rgba(0, 0, 0, 0.5)*/
    --icons-boxshadow-color-hover: #B7E4C7 ;

    --right-background:linear-gradient(to bottom,#081C15, #081C15);/*#efefef*/

    --scroolbar-background-track: #B7E4C7;
    --scroolbar-background-thumb: #40916C;
    --scroolbar-background-thumb-hover:#1B4332 ;

    --bigcard-background: linear-gradient(to bottom right,#1B4332, #2D6A4F);
    --bigcard-font-color: white;
    --bigcard-font-size: 28px ;
    --bigcard-font-size2: 25px ;


    --projects-font-size-title: 20px;
    --projects-font-size-text: 12px;
    --projects-font-color: white;
    --projects-background:rgba(8, 28, 21,0.7);
    --projects-boxshadow: rgba(8, 28, 21,0.4);
    --projects-border-color: #081C15;

    --careercard-background:linear-gradient(to bottom right,#74C69D, #1B4332);/*#3F37C9*/
    --careercard-color: white;
    --careercard-font-size-quali: 24px;
    --careercard-font-size-quali2: 20px;
    --careercard-font-size-years: 14px;
    --careercard-font-size-years2: 11px;
    --careercard-font-size-place: 16px ;
    --careercard-font-size-place2: 12px ;

    --skills-background: linear-gradient(to bottom right,#40916C, #081C15);
    --skills-border-color: white;
    --skills-font-color: white;
    --skills-font-size: 16px;
    --skills-font-size2: 12px;

    --interests-tooltip-background: #2D6A4F;
    --interests-tooltip-font-color: white;
    --interests-tooltip-fontsize: 14px ;

    --font:sans-serif, Arial;
}
